.jobs {
  padding: 15rem 0;
  font-family: 'Calibre';
  max-width: 100rem;
  margin: 0 auto;

  h3 {
    font-size: var(--fontSizesH3);
    color: var(--lightestSlate);
    position: relative;
    @media screen and (max-width: 48em) {
      font-size: var(--fontSizesXXL);
    }

    span {
      font-family: 'SF Mono';
      font-size: var(--fontSizesXL);
      color: var(--purple);
    }

    &:after {
      content: '';
      width: 40rem;
      height: 1px;
      background-color: var(--mediumGrey);
      display: block;
      position: absolute;
      top: 1.5rem;
      left: 30rem;
      @media screen and (max-width: 30em) {
        width: 11rem;
        left: 23rem;
      }
    }
  }

  .jobsBody {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;
      padding: 0;
      width: 30%;

      button {
        font-family: 'SF Mono';
        background: transparent;
        color: var(--slate);
        padding: 1rem 1.5rem;
        border: none;
        border-left: 3px solid var(--lightGrey);
        font-size: var(--fontSizesSmish);
        transition: all 0.5s;
        outline: none;

        &:hover {
          cursor: pointer;
        }
      }
      .active {
        border-left: 3px solid var(--color-link);
      }
    }

    .taskTab {
      color: var(--slate);
      width: 70%;

      .title {
        margin-top: 1rem;
        font-size: var(--fontSizesXXL);
        color: var(--lightestSlate);
        span {
          color: var(--color-link);
        }
        a {
          text-decoration: none;
          color: var(--color-link);
        }
      }

      .timeline {
        font-family: 'SF Mono';
        font-weight: 100;
        font-size: var(--fontSizesSmish);
      }

      .taskList {
        width: 100%;
        li {
          padding-left: 30px;
          margin-bottom: 2rem;
          position: relative;
          color: var(--slate);
          font-size: var(--fontSizesLG);

          &:after {
            content: '▹';
            color: var(--color-link);
            position: absolute;
            left: 0;
            line-height: 0;
            top: 1rem;
          }
        }
      }
    }
  }
}
