.bio {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 3rem;

  .bioAvatar {
    margin-right: 1rem;
  }

  .link {
    margin-bottom: 0.5rem;
    display: block;
    a {
      color: var(--color-link);
      box-shadow: 0 1px 0 0 currentColor;
      text-decoration: none;
    }
  }
}
