.blogPost {
  width: 50%;
  margin: 0 auto;
  font-size: 1.6rem;
  line-height: var(--fontSizesH3);
  min-height: 75vh;
  color: var(--text);
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica,
    'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';

  p {
    margin: 0;
    padding: 0;
    margin-bottom: 3.5rem;
  }
  article {
    h1 {
      color: var(--dark);
      margin-bottom: 0;
    }
    .date {
      font-size: 1.5rem;
      line-height: 1.75rem;
      display: block;
      margin-bottom: 3rem;
      margin-top: 1rem;
    }
  }

  a {
    box-shadow: 0 1px 0 0 currentColor;
    color: var(--color-link);
    text-decoration: none;
  }

  .nav {
    margin: 6rem 0;
  }

  aside {
    background-color: #f1f1ef;
    padding: 24px 24px 24px 20px;
    margin: 1rem 0;
  }

  table {
    margin: 1.5rem 0;
  }

  table,
  th,
  td {
    border: #e9e9e7 1px solid;
    border-collapse: collapse;
  }

  th,
  td {
    font-size: 1.4rem;
    padding: 10px 14px;
  }

  p {
    line-height: 27px;
    margin-bottom: 0;
  }

  h1,
  h2 {
    margin: 4rem 0 3rem 0 !important;
  }

  h3,
  h4 {
    margin: 3rem 0 2rem 0;
  }

  strong {
    font-family: sans-serif;
  }

  blockquote {
    border-left: 3px solid currentcolor;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    margin-left: 0;
  }

  img {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 56.25em) {
  .blogPost {
    width: 90%;
  }
}
