.projects {
  padding: 15rem 0;
  font-family: 'Calibre';
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 0;

  h3 {
    font-size: var(--fontSizesH3);
    color: var(--lightestSlate);
    position: relative;

    @media screen and (max-width: 48em) {
      font-size: 24px;
    }

    span {
      font-family: 'SF Mono';
      font-size: var(--fontSizesXL);
      color: var(--color-link);
    }

    &:after {
      content: '';
      width: 300px;
      height: 1px;
      background-color: var(--mediumGrey);
      display: block;
      position: absolute;
      top: 15px;
      left: 350px;

      @media screen and (max-width: 30em) {
        width: 60px;
        left: 270px;
      }
    }
  }

  .project:nth-child(2n + 1) {
    .information {
      grid-column: 7 / -1;
      text-align: right;
    }
    .linkWrapper {
      grid-column: 1 / 8;
      text-align: left;
    }
  }
  .project:nth-child(2n) {
    .information {
      grid-column: 1 / 7;
      text-align: left;
      ul {
        justify-content: flex-start !important;
        padding-left: 0;
        li,
        a {
          margin-left: 0 !important;
          margin-right: 20px;
        }
      }

      .projectLinks {
        a {
          margin-left: 0 !important;
          margin-right: 20px;
        }
      }
    }
    .linkWrapper {
      grid-column: 6 / -1;
      text-align: right;
    }
  }
  .project {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    text-align: center;
    margin-bottom: 10rem;
    min-height: 370px;

    .projectInformation {
      grid-row: 1 / -1;
      position: relative;
      @media screen and (max-width: 30em) {
        grid-column: 1/-1 !important;
        background: rgba(#ae80ff, 0.4);
        text-align: right !important;
      }

      h5 {
        font-family: 'SF Mono';
        font-size: var(--fontSizesSmish);
        color: var(--color-link);
        margin-bottom: 0.7rem;
      }

      h4 {
        color: var(--lightestSlate);
        font-size: 28px;
        margin-top: 0rem;
        margin-bottom: 1rem;
      }

      .projectDescription {
        background-color: var(--color-bg-primary-light);
        color: var(--slate);
        font-size: var(--fontSizesLG);
        box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
        border-radius: 3px;
        padding: 25px;
        z-index: 2;
        position: relative;
      }

      ul.stack {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        font-family: 'SF Mono';
        color: var(--lightGrey);
        font-size: var(--fontSizesSM);
        margin: 2rem 0;

        @media screen and (max-width: 30em) {
          color: var(--white);
        }

        li {
          margin-left: 20px;
        }
      }

      .projectLinks {
        a {
          margin-left: 20px;
          svg {
            font-size: var(--fontSizesXL) !important;
          }
        }
      }
    }

    .information-2 {
      grid-column: 7 / -1;
      text-align: right;
    }

    .linkWrapper {
      grid-row: 1 / -1;
      @media screen and (max-width: 30em) {
        grid-column: 1/-1 !important;
        opacity: 0.25;
      }

      .imageWrapper {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 3px;
      }
      .projectLinks {
        a {
          margin-right: 20px;
        }
      }
    }
  }
}
