.about {
  padding: 150px 0;
  font-family: 'Calibre';

  h3 {
    font-size: var(--fontSizesH3);
    color: var(--lightestSlate);
    position: relative;

    span {
      font-family: 'SF Mono';
      font-size: var(--fontSizesXL);
      color: var(--purple);
    }

    &:after {
      content: '';
      width: 300px;
      height: 1px;
      background-color: var(--mediumGrey);
      display: block;
      position: absolute;
      top: 15px;
      left: 200px;
    }
  }

  .body {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .aboutText {
      font-size: var(--fontSizesXL);
      color: var(--lightSlate);
      width: 60%;

      ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        overflow: hidden;
        padding: 0px;
        margin: 20px 0px 0px;
        list-style: none;

        li {
          position: relative;
          font-family: 'SF Mono';
          margin-bottom: 10px;
          padding-left: 20px;
          font-size: var(--fontSizesSmish);
          &:after {
            content: '▹';
            position: absolute;
            left: 0;
            color: var(--purple);
            font-size: var(--fontSizesSmish);
            line-height: 12px;
          }
        }
      }
    }

    .profile {
      width: 35%;
      height: fit-content;
      position: relative;

      img {
        display: block;
        width: 120%;
        border-radius: 3px;
      }

      &:after {
        position: absolute;
        content: '';
        display: block;
        border: 2px solid var(--purple);
        border-radius: 5px;
        top: 20px;
        left: 20px;
        z-index: -1;
        width: 120%;
        height: 100%;
        transition: all 0.5s;
      }

      &:hover {
        cursor: pointer;
        &:after {
          top: 10px;
          left: 10px;
        }
      }
    }
  }
}
