.mainPosts {
  min-height: 75vh;
  max-width: 50%;
  margin: 0 auto;
  font-size: 1.6rem;
  color: var(--text);
  overflow-x: hidden;

  .listPosts {
    list-style: none;
    padding-left: 0;
    li:not(:last-child) {
      margin-bottom: 7rem;
    }
  }
}
@media screen and (max-width: 56.25em) {
  .mainPosts {
    max-width: 80%;
  }
}
