.intro {
  font-family: 'Calibre';
  min-height: 80vh;
  max-width: 1000px;
  margin: 0 auto;

  h4 {
    font-family: 'SF Mono';
    font-weight: normal;
    color: var(--purple);

    @media screen and(max-width: 62.5em) {
      font-size: var(--fontSizesSM);
    }

    @media screen and(max-width: 48em) {
      font-size: var(--fontSizesSmish);
    }
  }

  h1 {
    font-size: 80px;
    color: var(--lightestSlate);
    margin: 2rem 0;
    @media screen and(max-width: 30em) {
      font-size: 40px;
    }
  }

  h2 {
    font-size: 80px;
    color: var(--lightSlate);
    margin: -1.5rem 0;
    @media screen and(max-width: 30em) {
      font-size: 40px;
    }
  }

  p {
    color: var(--lightSlate);
    margin: 4rem 0;
    max-width: 400px;
    line-height: 1.6rem;
    font-size: var(--fontSizesXL);
  }

  .contact {
    border: 1px solid var(--purple);
    border-radius: 3px;
    background-color: transparent;
    text-decoration: none;
    padding: 1.45rem 1.75rem;
    color: var(--purple);
    font-family: 'SF Mono';
  }
}
