.footer {
  background-color: var(--darkNavy);
  color: var(--slate);
  text-align: center;
  font-size: var(--fontSizesSM);
  padding: 23px;
  font-family: 'SF Mono';

  .inspired {
    font-size: 10px;
    margin-top: 1rem;
    a {
      color: var(--slate);
      text-decoration: none;
    }
  }

  .icons {
    display: none;
    @media screen and(max-width: 30em) {
      display: block;
      margin-bottom: 1.5rem;
      a {
        margin: 0 1rem;
      }
    }
  }
}
